<div class="row">
   <div class="col-sm-7" >
      <h2 class="header">Store Manager</h2>
   </div>
   <div class="col-sm-5 text-right"> 
      <a href="manager"><button type="button" class="btn text-right md-raised bg-color md-add md-button md-ink-ripple" >Add Manager</button></a>
   </div>
</div>
<div class="row" >
   <div class="col-sm-12"  >
      <ul class="nav nav-tabs" >
         <li class=""><a href="#/" data-toggle="tab" >Stores</a></li>
         <li class="active"><a href="#manager" data-toggle="tab" >Store Manager</a></li>
      </ul>
      <div class="tab-content  tab-content-data" >
         <div id="manager" class="tab-pane fade in active"  >
            <div class="panel">
               <div class="panel-body user-info">
                  <div id="tableToExport" class="products-table table-responsive"  >
                     <table class="table" class="table table-striped" id="exportthis" >
                        <thead>
                           <tr>
                              <th>ID</th>
                              <th>NAME</th>
                              <th>PHOTO</th>
                              <th>EMAIL</th>
                              <th>MOBILE</th>
                              <th>CREATED</th>
                              <th>ACTIONS</th>
                           </tr>
                        </thead>
                        <tbody >
                           <tr  ng-repeat="values in manager.data.data  ">
                              <td><a href="manager/{{values.user_id}}" ><b>#{{values.user_id}}</b></a> </td>
                              <td>{{values.first_name}} {{values.last_name}}</td>
                              <td> <img class="img-responsive  " style="height:40px;width:40px" src="../admin/assets/images/boy.png" ng-show="!values.photo"> <img class=" " src="../images/users/{{values.photo}}" style="height:40px;width:40px" ng-hide="!values.photo"></td>
                              <td > {{values.email}} </td>
                              <td > {{values.phone}} </td>
                              <td>{{values.created_at_formatted}}</td>
                              <td class="actions">
                                 <a class="btn btn-xs edit-product" href="manager/{{values.user_id}}" ><i class="fa fa-edit"></i></a>
                                 <a class="btn btn-xs delete-product" ng-click="deleteUser(values.user_id, $index)"><i class="fa fa-trash"></i></a>
                                 <!--  <a class="btn btn-xs edit-product" href="{{ URL::to('product_edit')}}/@{{values.id}}" ><img src="{{url::to('admin/images/edit.png')}} " style="height:16px;width:16px"/></a>
                                    <a class="btn btn-xs delete-product" ng-click="ctrl.removeChoice(values.id, $index)"><img src="{{url::to('admin/images/bin.png')}} " style="height:16px;width:13px"/></a>-->
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
				  <div class="pagination text-right" style="display:block" >
                                           <button class="btn"  ng-show="manager.data.first_page_url != null" ng-click="pagination(manager.data.first_page_url);">First</button> 
                                           <button class="btn"  ng-show="manager.data.prev_page_url != null" ng-click="pagination(manager.data.prev_page_url);">Previous</button> 
                                          <span>{{manager.data.current_page}}</span>
                                          <button class="btn" ng-show="manager.data.next_page_url != null" ng-click="pagination(manager.data.next_page_url);">Next</button> 
                                          <button class="btn" ng-show="manager.data.last_page_url != null" ng-click="pagination(manager.data.last_page_url);">Last</button> 
                                       </div>
									   
                 
               </div>
            </div>
         </div>
      </div>
   </div>
</div>