<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12" >
         <ul class="nav nav-tabs" >
            <li  ><a href="#/" data-toggle="tab"   >Basic Detail</a></li>
            <li  class="active"   ><a href="#/order" data-toggle="tab"   >Orders</a></li>
         </ul>
         <div class="tab-content  tab-content-data">
            <div id="/order" class="tab-pane fade in active">
               <div class="panel">
                  <h4 ng-repeat="data in orderData.user_data[0].basic_details"> Orders </h4>
                  <table class="table">
                     <tr>
                        <th>Id</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>Created</th>
                     </tr>
                     <tr ng-repeat="data in ordersData.user_data">
                        <td class="id"><a href="{{app_url}}/order_detail_page?order_id={{data.basic_details[0].id}}">#{{data.basic_details[0].id}} </a></td>
                        <td>{{data.basic_details[0].order_status}}</td>
                        <td>{{data.basic_details[0].sub_total}}</td>
                        <td>{{data.basic_details[0].created_at_formatted}}</td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>