.md-submit, .md-add{letter-spacing:0.8px!important;float:right;font-family:'Open Sans',sans-serif!important; }
.md-add{padding:1px 15px!important;}
.md-submit{padding:5px 12px!important;}
.bg-color{background:#496c83!important;color:#fff!important;}

button:focus, .md-button:focus{outline:none;}


table>tbody>tr>td,table>thead>tr>th, label, .form-control, h5{font-family:'Open Sans',sans-serif}
table>tbody>tr>td{font-size:15px;}
body::-webkit-scrollbar-track, md-tab-content::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);border-radius:0;background-color:#F5F5F5}body::-webkit-scrollbar, md-tab-content::-webkit-scrollbar{width:8px;background-color:#F5F5F5}body::-webkit-scrollbar-thumb, md-tab-content::-webkit-scrollbar-thumb{border-radius:0;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#ccc}

 

/*================catyegory===============*/

.category-add .modal-content, .address-add .modal-content{border-radius:0px}
.category-add .modal-header, .address-add .modal-header{border-bottom:0px;padding:5px 5px 5px 0;}
.category-add .modal-title, .address-add .modal-title{padding:10px;letter-spacing:0.7px;border-left:7px solid #496c83;margin-left: -4px;}
.category-add .modal-header .close, .address-add .modal-header .close {  background: #496c83;  padding: 2px 8px 5px 8px;  border-bottom-left-radius: 90px;opacity:1;color:#fff;font-weight:100;margin-top:0px;}
@media(min-width:768px){.category-add .md-submit{bottom: -100px; top: auto; }}

.address-add .search-input .form-control{box-shadow:0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);border:0px;border-radius:0px}
.address-add .m-t-small .form-control{border: 0px; background: #fff;   box-shadow: none;padding:0px;display:inline-block;width:auto}
.address-add label{color:#484848}

.autocomplete-custom-template li span.head{font-family:'Open Sans Semibold',sans-serif;letter-spacing:0px;font-size:18px;background:#fcfdff;width:100%;display:block;padding:4px 12px;color:#9a9a9a;}
.autocomplete-custom-template li a span.item-title {color:#000;font-size:15.5px;padding-top:0px;}
.autocomplete-custom-template li a{padding:2px 5px!important; font-family:'Open Sans',sans-serif;}

  .autocomplete-custom-template li {
   padding: 0!important;
   border-bottom: 1px solid #efefef;
   height: auto!important; 
   white-space: normal;
   }
   .autocomplete-custom-template li a{text-decoration:none;}
   .autocomplete-custom-template li:last-child {
   border-bottom-width: 0;
   }
   .autocomplete-custom-template .item-title{display:inline-flex!important;width:100%!important}
   
    .autocomplete-custom-template .item-title p {color:#000; font-size:15px;font-family:'Open Sans Semibold',sans-serif;padding-left:8px;}
	.autocomplete-custom-template .item-title p .subtitle{color:#989898; font-size:14px;font-family:'Open Sans',sans-serif;}
    .autocomplete-custom-template .item-metadata{color:#989898; font-size:14px;padding-bottom:5px;border-bottom:1px solid #ccc!important;}
	  .autocomplete-custom-template .item-email{color:#989898; font-size:14px;padding-bottom:5px;border-bottom:1px solid #ccc!important;}
	  .autocomplete-custom-template .item-metadata:last-child{border-bottom:0px solid #ccc;}
	.autocomplete-custom-template .item-image{display:inline-block}
		 .autocomplete-custom-template .item-title,
   .autocomplete-custom-template .item-metadata {
   display: block;
   line-height: 1.5;
   } 
   
   
   md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar{color:#498ce3!important;background:#498ce3!important}
   
   .md-autocomplete-suggestions li:not(.md-not-found-wrapper){background-color:#fff!important;}
   .md-autocomplete-suggestions li .main-head:hover, .md-autocomplete-suggestions li .main-head a:hover, 
   .md-autocomplete-suggestions li .main-head a .item-title:hover, .md-autocomplete-suggestions li .main-head a .item-metadata:hover{background-color:#f5f5f5!important;}
    {background-color:#f5f5f5!important;}
   
  .form-control:focus{outline:0!important;}
  
  
  md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb{background:#4a6c82!important;}
  md-switch.md-default-theme.md-checked .md-ink-ripple, md-switch.md-checked .md-ink-ripple{color:#4a6c82!important;}
  md-switch.md-default-theme.md-checked.md-primary .md-bar, md-switch.md-checked.md-primary .md-bar{background:#769ab1!important;}
  
.StepProgress li .time{margin-bottom:0px;font-size:10px;color:#b4b4b4}
.StepProgress li .address{margin-bottom:0px;font-size:12px;color:}
.StepProgress li .contact-title{margin-bottom:0px;font-size:14px;font-family:'Open Sans Semibold',sans-serif;}

.StepProgress li